.col-md-3.no-padding.inline-block.in-top
    %nav.medium
        .green.white-text.col-md-12
            Admin General
.col-md-9.inline-block.in-top
    .card.large-padding
        .col-md-9.inline-block
            %h1= @product.name
        .col-md-3.inline-block
            %p.big.no-margin.red-text $10